extends layout

block stylesheets
  link( rel = 'stylesheet', href = data.css.main )

block content
  h1( id = 'sampleTitle') #{data.title}
  p( id = 'welcome' ) #{data.welcome}
  p( id = 'acadatapipe' style = 'display:none' ) #{data.ret}

block scripts
  script( src = data.js.jquery )
  script( src = data.js.aca.tool )
  each jssrc in data.js.inc
    script( src = jssrc )
