extends layout

block nameOfSite
  | 台南市城市交流藝廊 - 後台登入 

block stylesheets
  link( rel = 'stylesheet', href = data.css.main )

block content
  .fullscreen-mask
  #login-form
    .logo
    input(class='input-bar' id='user' type='text' placeholder = '帳號')
    input(class='input-bar' id='pwd' type='password')
    button(id='submit')
      | 登入
    .wrong
  #waiting
    .spin-section
      .spinner
        .double-bounce1
        .double-bounce2

block javascripts
  script(src = data.js.jquery)
  each jssrc in data.js.inc
    script(src = jssrc)
