html, body {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 248) url('/images/g1/361_02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 248);
}

.fullscreen-mask {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #222;
  z-index: 10;
}

.logo {
  display: block;
  position: relative;
  margin: 10px auto;
  margin-bottom: 30px;
  width: 72%;
  height: 50px;
  background: url('/images/icons/mobile_home_name_logo_1024.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

#login-form {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 40%;
  height: 260px;
  padding: 0;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-bar {
  display: block;
  position: relative;
  margin: 18px auto;
  width: 80%;
  height: 40px; 
  font-size: 28px;
  padding: 8px;
  padding-left: 12px;
  border: none;
  //border-bottom: 3px solid rgb(201, 152, 23);
  background-color: rgba(255, 255, 255, 0.6);
}

#submit {
  display: block;
  position: relative;
  width: 100px;
  height: 40px;
  font-size: 28px;
  margin: 25px auto;
  padding: 0;
  background: #111;
  color: #eee;
  border: none;
  cursor: pointer;
}

.wrong {
  display: none;
  position: absolute;
  bottom: -130px;
  left: -14%;
  width: 225px;
  height: 225px;
  background: url('/images/icons/shock.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#waiting {
  display: none;
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  padding: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  //background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce1 {
  background: url('/images/icons/mobile_loading_ta.png');
}

.double-bounce2 {
  background: url('/images/icons/mobile_loading_city.png');
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0); }
  50% { -webkit-transform: scale(1.0); }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
