html, body {
  position: fixed;
  left: -2.35%;
  top: -2.35%;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 248);
}

#preview-shit {
  display: none;
}

#toolbar {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 14%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  z-index: 1000;
  overflow: hidden;
}

.circle {
  display: block;
  position: absolute;
  width: 25%;
  height: auto;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  //background-color: #980;
  z-index: 1001;
}

.screen {
  display: none;
  position: relative;
  //left: -2.25%;
  top: 15px;
  width: 94%;
  height: 86%;
  margin: 0 auto;
  padding: 0;
  //background-color: #897;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.input-search {
  display: block;
  position: relative;
  width: 74%;
  height: 10%;
  top: 0;
  margin: 10% auto;
}

.search-btn-set {
  display: block;
  position: relative;
  width: 50%;
  height: 8%;
  margin: 1% auto;
  top: -5%;
  padding: 0;
}

.search-btn {
  display: inline-block;
  position: relative;
  width: 44.8%;
  height: 86%;
  margin: 2.5%;
  background-color: rgba(255, 255, 255, 0);
  padding: 2%;
  border: 1px solid;
  font-size: 150%;
}

.search-results {
  display: block;
  position: relative;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.ul-search-results {
  list-style: none;
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
}

.ul-search-results li {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  padding: 0;
  margin-bottom: 3%;
  border: 1px solid rgb(201, 145, 13);
}

.ul-search-results li div {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: rgb(201, 145, 13);
}

.ul-search-results li span {
  display: inline-block;
  position: absolute;
  width:auto;
  height: 60px;
  margin-left: 80px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.website-title {
  display: block;
  position: relative;
  top: 6%;
  width: 80%;
  height: 40px;
  margin: 0 auto;
  background: url('/images/icons/mobile_home_name_logo_1024.png');
  background-size: contain;//100%;
  background-repeat: no-repeat;
}

.home-fb-like-n-share {
  display: block;
  position: relative;
  width: 225px;
  padding: 0;
  margin: 10px auto;
  top: 6%;
}

.home-banners-set {
  display: block;
  position: relative;
  width: 210px;
  top: 20%;
  margin: 0 auto;
  padding: 0;
}

.banner-home {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-bottom: 4%;
  padding: 0;
}

.banner-home p {
  display: block;
  position: relative;
  margin: 15px auto;
  width: 70px;
  height: 70px;
  color: #eee;
  font-size: 120%;
}

#recent-campaigns {
  //background: url('/images/icons/TAGW_mobile_UI_home_recent_noBG.png');
  background: rgba(64, 186, 179, 0.7);
  background-size: 100%;
  background-repeat: no-repeat;
}

#past-events-n-items {
  //background: url('/images/icons/TAGW_mobile_UI_home_past_noBG.png');
  background: rgba(201, 145, 13, 0.7);
  background-size: 100%;
  background-repeat: no-repeat;
}

/*--------------------------------------------------
.banner-home-icn {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

#camp-text {
  height: 60%;
  background-image: url('/images/icons/TAGW_mobile_UI_home_recent_text.png');
}

#camp-icn {
  background-image: url('/images/icons/TAGW_mobile_UI_home_loud_icn.png');
}

#gift-text {
  height: 60%;
  background-image: url('/images/icons/TAGW_mobile_UI_home_past_text.png');
}

#gift-icn {
  background-image: url('/images/icons/TAGW_mobile_UI_home_gift_icn.png');
}

.left-icn {
  left: -3%;
  top: 20%;
}

.right-icn {
  margin-left: 55%;
}
--------------------------------------------------*/

h1 {
  display: block;
  position: relative;
  top: 5%;
  width: 74%;
  height: 10%;
  margin: 7% auto;
  text-align: center;
}

h1 span {
  display: inline-block;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.menu-level-0 {
  display: block;
  position: relative;
  width: 74%;
  height: 75%;
  margin: 0 auto;
  padding-top: 4%;
  //background-color: rgba(255, 255, 255, 0.1);
}

.menu-level-0 li {
  display: block;
  position: relative;
  width: 80%;
  height: 13%;
  margin-top: 1%;
  left: -8%;
  //background-color: rgba(255, 255, 255, 0.1);
}

.menu-inner-a {
  display: block;
  position: relative;
  top: 50%;
  width: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  //background-color: rgba(255, 255, 255, 0.6);
}

.menu-inner-a:hover {
  color: rgba(189, 200, 67, 0.6);
}

.menu-inner-a:activate {
  color: rgba(189, 200, 67, 0.6);
}

.ul-campaigns {
  list-style: none;
  display: block;
  position: relative;
  padding: 1%;
  margin: 1%;
  margin-bottom: 10%;
  font-size: 130%;
}

.ul-campaigns ul {
  list-style: none;
  display: block;
  position: relative;
  padding: 0;
  border: 1px solid rgb(64, 186, 179);
  color: rgb(64, 186, 179);
}

.ul-campaigns ul li {
  margin-bottom: -3%;
}

.ul-campaigns ul ul {
}

.ul-campaigns ul li p {
  padding-left: 5%;
}

.extensive-block {
  display: block;
  width: 100%;
  height: 300px;
}

.ul-posts {
  display: block;
  position: relative;
  width: 100%;
  left: 0;
  list-style-type: none;
  //background-color: #555;
  margin: 0 auto;
  padding: 0;
  padding-left: 2%; //2.5%;
  padding-bottom: 2%; //2.5%;
  z-index: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.ul-posts li {
  display: inline-block;
  position: relative;
  width: 47%; //30%;
  height: 47%; //30%;
  background-color: rgb(201, 145, 13);
  margin: 2%; //2.5%;
  margin-left: 0;
  margin-bottom: -1.23%;
  padding: 0;
}

.ul#posts li div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}

.card-images {
  display: block;
  position: relative;
  width: 97%;
  height: 40%;
  margin: 1% auto;
  background-color: rgb(201, 145, 13);
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 1;
}

#card-images-roll-mask {
  display: none;
  position: absolute;
  width: 97%;
  height: 40%;
  top: 1.5%;
  left: 1.4%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
}

.card-social-btn-set {
  display: block;
  position: relative;
  width: 240px;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  //background-color: #456;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

span.card-social-btn {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

a.card-line-icn {
  display: block;
  //background-color: #789;
  width: 100px;
  height: 100px;
  background: url('/images/icons/0609_mobile_line_btn.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.card-fb-icn {
  display: block;
  //background-color: #987;
  background: url('/images/icons/0609_mobile_fb_btn.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.share-n-more {
  display: block;
  position: relative;
  width: 97%;
  height: 40px;
  padding: 0;
  margin: 3% auto;
}

.share-n-more span {
  display: inline-block;
  position: absolute;
  height: 100%;
  background-color: rgba(201, 145, 13, 0.3);
}

.share-n-more span p {
  display: block;
  position: absolute;
  width: 100%;
  top: -7px;
}

.share-section-icn {
  width: 49%;
  margin: 0;
  left: -1px;
  background-size: 100%;
  border: 1px solid rgb(201, 145, 13);
}

.more-section-icn {
  width: 49%;
  margin: 0;
  right: -1px;
  background-size: 100%;
  border: 1px solid rgb(201, 145, 13);
}

h2#item-title {
  padding-left: 5%;
}

.card-ul-info {
  list-style: none;
  display: block;
  position: relative;
  width: 94%;
  border: 1px solid rgb(201, 145, 13);
  margin: 1% auto;
  padding-left: 3%;
}

.card-info-subtitle {
  margin-bottom: 0;
}

.card-info-subtitle p {
  color: rgb(201, 145, 13);
  font-size: 80%;
  margin-bottom: 0;
}

.card-info-text {
  margin-top: 0;
}

.card-info-text p {
  margin-top: 0;
}

#story-section {
  display: block;
  position: relative;
  padding: 5%;
}

.story-title {
  display: block;
  position: relative;
  color: rgb(201, 145, 13);
  font-size: 150%;
}

.story-content {
  display: block;
  position: relative;
  font-size: 120%;
  line-height: 180%;
  text-align: justify;
}

#ul-total {
  list-style: none;
}

#ul-total li p span {
  color: #760;
  font-size: 170%;
  margin-right: 5%;
}

.fullscreen {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2000;
  background-color: rgb(201, 145, 13);
}

.innerblock {
  display: block;
  position: relative;
  width: 80%;
  height: 10%;
  margin: 20% auto;
}

.innerblock p {
  font-size: 50px;
  text-align: center;
}

ul#showAllPics {
  list-style: none;
  display: block;
  position: absolute;
  width: 100%;
  //height: 100%;
  top: 15px;
  //left: 0;
  padding: 0;
  background-color: rgb(3, 3, 3);
  //overflow-y: auto;
}

ul#showAllPics li {
  display: block;
  width: 100%;
  position: relative;
  margin: 10px auto;
}

ul#showAllPics li.total-of-pics {
  display: block;
  position: relative;
  top: -15px;
  z-index: 2100;
  color: #ddd;
  background: rgba(0, 0, 0, 1);
}

.total-of-pics span {
  margin: 4px;
}

.order-of-pics {
  display: block;
  position: absolute;
  //width: 100%;
  top: 0;
  left: 15px;
  color: #ddd;
}

.order-of-pics span {
  display: none;
  position: absolute;
  padding: 4px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  background-color: #111;
  font-size: 17px;
  text-align: center;
}

div.end-of-pics {
  display: block;
  width: 100%;
  height: 10px;
  bottom: 0;
  background-color: rgb(201, 145, 13);
}

.card-fb-comments-section {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
}

#logos {
  display: block;
  position: relative;
  margin: 3% auto;
  width: 90%; // 1283 * 625
  //height: 30%;
  background-color: #ad8;
  background: url('/images/icons/aca-tn.png');
}

.footer-info {
  padding: 7%;
  font-size: 105%;
  line-height: 170%;
  text-align: justify;
}

.about-site-fb-share {
  display: block;
  //width: 100px;
  //height: 20px;
  background-color: #345;
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  //background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce1 {
  background: url('/images/icons/mobile_loading_ta.png');
}

.double-bounce2 {
  background: url('/images/icons/mobile_loading_city.png');
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
